@import "../../styles/colors.scss";

.BlurryContainer {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;
    backdrop-filter: blur(4px);

    .ContainerWrapper {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        .Container {
            width: 450px;
            max-width: 90%;
            min-height: 300px;

            background-color: $menu-bg-color;

            border-radius: 4px;

            padding: 1rem 2rem;
            padding-top: 2rem;
            padding-bottom: 2rem;

            display: flex;
            flex-direction: column;

            .closeIcon {
                color: $font-lightGrey;
                font-size: 22px;
                align-self: self-end;

                cursor: pointer;

                transition: all 150ms;

                &:hover {
                    transform: scale(1.15);
                }
            }

            .FormTitle {
                font-size: 40px;
                font-weight: 600;
                color: $font-white;

                text-align: center;

                margin-bottom: 2rem;
            }

            .myIcon {
                // Change this Important stuff later
                color: $font-lightGrey !important;
            }

            .inputLabel {
                font-size: 16px;
                font-weight: 600;

                color: $font-lightGrey;

                margin-bottom: 0.25rem;
                margin-left: 0.1rem;
            }

            input {
                background-color: $menu-bg-light1;
                box-shadow: none;
                border: none;

                color: $font-white;
                font-family: inherit;
                font-weight: 500;

                margin-bottom: 1rem;

                &:focus {
                    border: 1px solid $strong-purple;
                }
            }

            button {
                margin-top: 1rem;
                align-self: center;
            }
        }
    }
}
