@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.navbar {
    background-color: $menu-bg-color;

    color: $font-white;

    height: 50px;
    box-shadow: 0px 2px 12px $page-background;
}

.navbar-burger {
    color: $white;
}

.navbar-menu {
    @include bulmaTablet() {
        background-color: $menu-bg-color;
    }
}

.navbar-start {
    justify-content: flex-start;
    gap: 0.5rem;

    // margin-left: 3rem;

    // @include bulmaTablet {
    //     margin-left: 0;
    // }
}

// It is for our icon to toggle read mode (called Focus mode)
.navbar-FocusContainer {
    text-align: center;

    @include bulmaTablet {
        display: none;
    }

    i {
        width: 32px;
        height: 32px;
        color: $font-white;
        padding: 0.5rem;
        border-radius: 50px;
    }

    .FocusActive {
        background-color: $reactionDislike;
    }
}

.navbar-newPostButton {
    border-radius: 50px;
    font-size: 14px;
}
