// Navbar
$menu-bg-color: #1c1c1c;
$menu-bg-light1: #2d2d2d;

// main colors
$strong-purple: #6f20db; // Main purple color
$light-purple: #5e10ca; // Hover color

$page-background: #121212; // Page background

$error-background: #b52a44;

// Reaction buttons colors
$reactionLike: #8c43f2;
$reactionDislike: #b52a44;
$reactionComment: rgb(250, 171, 97);

// post tag
$postTagBackground: #6f20db;
$postTagText: #fff;

// fonts / texts
$font-white: #fff; // Default white color for text, might change later
$font-lightGrey: #dbdbdb;
$font-link: #6052f6;
$font-dark: #2d2d2d;
$font-error: #260f14;

$font-cookie: rgb(250, 171, 97);

// These colors use in borders or other stuff, their naming wont change later,
// font-white might be a little different over time like #ddd
$white: #fff;
$black: #000;
