@import "./colors.scss";
@import "./mixins.scss";

// Global styles that we use across the page

// BUTTONS STYLES
.btnPurple {
    color: $font-white;
    background-color: $strong-purple;

    border: 0;

    font-family: "SF Pro Display", sans-serif;
    font-weight: 700;

    padding-left: 1rem;
    padding-right: 1rem;

    cursor: pointer;

    &:hover {
        background-color: $light-purple;
        color: $font-white;
    }
}

.btnBlack {
    color: $font-white;
    background-color: $page-background;

    border: 0;

    font-family: "SF Pro Display", sans-serif;
    font-weight: 700;

    padding-left: 1rem;
    padding-right: 1rem;

    cursor: pointer;

    &:hover {
        background-color: $font-white;
        color: $page-background;
    }
}

.btnFormMaxWidth {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 4px;

    padding: 0.5rem 0.25rem;

    cursor: pointer;
}

.btnLightBorder {
    color: $font-white;
    background-color: transparent;

    border: 1px solid $white;

    font-family: "SF Pro Display", sans-serif;
    font-weight: 500;

    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
        color: $font-white;
    }
}

// Input styles
.selectLight {
    max-width: 250px;

    background-color: $menu-bg-light1;
    box-shadow: none;
    border: none;

    outline: none;

    color: $font-white;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;

    border: 1px solid transparent;
    border-radius: 4px;

    padding: 0 1rem;

    &:focus {
        border: 1px solid $strong-purple;
    }
}

.navLinkLight {
    color: $font-white;

    font-weight: 600;
    font-size: 20px;
    letter-spacing: 12;

    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;

    display: flex;
    align-items: center;

    &:hover {
        background-color: transparent;
        color: $light-purple;
    }
}

.linkText {
    color: $font-link;
    cursor: pointer;

    padding-bottom: 2px;
    border-bottom: 1px solid transparent; // We want this so page will not move when we add border on hover

    &:hover {
        border-bottom: 1px solid $font-link;
    }
}

.ViewRepliesText {
    color: $font-link;
    cursor: pointer;

    padding-bottom: 2px;
    border-bottom: 1px solid transparent; // We want this so page will not move when we add border on hover

    &:hover {
        border-bottom: 1px solid $font-link;
    }
}

.linkText-White {
    color: $font-white;
    cursor: pointer;

    padding-bottom: 2px;
    border-bottom: 1px solid transparent; // We want this so page will not move when we add border on hover

    &:hover {
        color: $font-white;
        border-bottom: 1px solid $font-white;
    }
}

// Transitions
.hoverScale {
    cursor: pointer;
    transition: all 150ms;
    &:hover {
        transform: scale(1.08);
    }
}

// TEXT STYLES
.text-center {
    text-align: center;
}

.textGray-medium {
    font-size: 16px;
    font-weight: 500px;
    color: $font-lightGrey;
}

// Responsive Text here
.PopupTitle {
    font-size: 2.5rem;
    font-weight: 600;
    color: $font-white;

    text-align: center;

    margin-bottom: 2rem;

    @include mobile {
        font-size: 1.6rem;
    }
}

.inputLabel {
    // You are using it in all pop ups
    // also supports span and icon inside it
    font-size: 16px;
    font-weight: 600;

    color: $font-lightGrey;

    margin-bottom: 0.25rem;
    margin-left: 0.1rem;

    span {
        margin-right: 0.5rem;
    }

    // Here we also can control Icons before text
    // i {
    // color: blue;
    // }
}

.PostDate {
    font-size: 0.8rem;
    font-weight: 100;
    color: $font-lightDark;
}

.PostOwner {
    font-size: 1rem;
    font-weight: 600;
    color: $font-lightGrey;

    cursor: pointer;

    &:hover {
        color: $white;
    }
}

.SubCommentOwner {
    font-size: 0.85rem;
    font-weight: 600;
    color: $font-lightGrey;
    margin-right: 0.5rem;

    cursor: pointer;

    &:hover {
        color: $white;
    }
}

.PostTitle {
    font-size: 1.4rem;
    font-weight: 600;
    color: $font-lightGrey;

    cursor: pointer;

    &:hover {
        color: $font-white;
    }
}

.CommentText {
    font-size: 1.1rem;
    font-weight: 400;
    color: $font-white;
}

.CancelCommentText {
    font-size: 16px;
    font-weight: 600;
    color: $font-lightDark;

    cursor: pointer;

    &:hover {
        color: $font-lightGrey;
    }
}

.CommentActionText {
    font-size: 16px;
    font-weight: 600;
    color: $font-lightDark;

    cursor: pointer;

    &:hover {
        color: $font-lightGrey;
    }
}

// Responsive Text, same order as headings (p1 means the biggest text)
// h{n} is mostly bolded while p{2] is normal light text

.p3Text {
    font-size: 1.1rem;
    font-weight: 400;
    color: $font-lightGrey;
}

.p4Text {
    font-size: 1rem;
    font-weight: 400;
    color: $font-white;
}

.p5Text {
    font-size: 0.8rem;
    font-weight: 400;
    color: $font-white;
}

.h1Text {
    font-size: 2.2rem;
    font-weight: 700;
    color: $font-white;

    margin-bottom: 0.5rem;
}

.h3Text {
    font-size: 1.2rem;
    font-weight: 600;
    color: $font-white;

    margin-bottom: 0.5rem;
}

.h4Text {
    font-size: 1rem;
    font-weight: 600;
    color: $font-white;

    margin-bottom: 0.5rem;
}

// Optional text colors
.text-lightGrey {
    color: $font-lightGrey;
}

// Error message container
.errorMessageContainer {
    width: 100%;

    background-color: $error-background;

    padding: 0.5rem 0.75rem;
    border-radius: 4px;

    margin: 1rem 0;

    .errorMessageText {
        font-weight: 300;
        font-size: 14px;

        color: $font-error;
    }
}

// colors
.color-lightGrey {
    color: $font-lightGrey;
}
.color-lightDark {
    color: $font-lightDark;
}
